@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
	<p>A Job Application Tracker made with C# and ASP.NET Core</p>
	<p>Currently a work in progress, created for my own use!</p>
    <p>Check out the github <a href="https://learn.microsoft.com/aspnet/core">here</a>.</p>

</div>
